.navigation {
  display: flex;
  align-items: center;
  &__today-btn {
      margin-left: 20px;
      padding: 8px 15px;
      border-width: 1px;
      border-radius: 6px;
      cursor: pointer;
      outline: none;
  }

  &__icon-btn {
      margin-left: 40px;
      background-color: transparent;
      outline: none;
      border: none;
      color: #000;
      cursor: pointer;
  }

  &__displayed-month{
    margin-left: 35px;
    color: #000;
  }
}